In [1]:
print('Hello World')

Hello World

# variable in python

In [2]:
x = 22
print(x)

22

In [3]:
id(x)

140728503970240

In [4]:
type(x)

int

In [5]:
y = 'cholate chip'

print(y)
type(y)

cholate chip

str

In [6]:
# multiple variable

x,y,z = 'cholate','coffee','cowbell'

print(x)
print(y)
print(z)

cholate
coffee
cowbell

In [7]:
x = y = z = 'vanilla'

print(x)
print(y)
print(z)

vanilla
vanilla
vanilla

#  List in python

In [8]:
object_list = ['cholate','coffee','cowbell']

x,y,z = object_list

print(x)
print(y)
print(z)

cholate
coffee
cowbell

# type of cases

In [ ]:
#camel case


#Test variable case

testVariablecase = 'vanilla'

In [ ]:
#pascal case


#Test variable case

TestVariablecase = 'vanilla'

In [ ]:
#snake case


#Test variable case

test_variable_case = 'vanilla'

# Adding two string together

In [10]:
x = 'writing is an exercise, ' + 'so i love to be an author.'

print(x)

writing is an exercise, so i love to be an author.

In [13]:
x = 'i' 
y = 'love'
z = 'you'

w = x + y + z

print(w)

iloveyou

In [14]:
x = 'i love you'
y = 2

print(x,y)

i love you 2

#  Data Types

In [15]:
type(-12)

int

In [16]:
type(67 + 57.25)

float

In [17]:
type(90 + 7j)

complex

In [18]:
# Boolean (is a logical statement)
type(2 > 9)

2 > 9

False

In [19]:
type(2 > 9)

bool

In [20]:
5 < 10

True

In [21]:
type(5 < 10)

bool

In [22]:
# strings

'Adepoju'

'Adepoju'

In [23]:
"Adepoju"

'Adepoju'

In [24]:
"'Adepoju'"

"'Adepoju'"

In [25]:
a = 'Hello python !!!'

In [26]:
print(a[:5])

Hello

In [27]:
print(a[:6])

Hello

In [28]:
print(a[5])

In [29]:
print(a[2:5])

llo

In [30]:
# List
b = [6,7,8,9]

In [31]:
print(b)

[6, 7, 8, 9]

In [32]:
ice = ['cholate','coffee', 'cowbell']

print(ice)

['cholate', 'coffee', 'cowbell']

In [33]:
# to add items to list

ice.append('milk')

In [34]:
print(ice)

['cholate', 'coffee', 'cowbell', 'milk']

In [35]:
# to check the index position

ice[0] = 'vanilla'

In [36]:
ice

['vanilla', 'coffee', 'cowbell', 'milk']

In [37]:
nest_list = ['vanilla', 9 ,['snakes', 'name'], True]

In [38]:
nest_list

['vanilla', 9, ['snakes', 'name'], True]

In [39]:
nest_list[0]

'vanilla'

In [40]:
nest_list[1]

9

In [41]:
nest_list[2]

['snakes', 'name']

In [42]:
nest_list[2][1]

'name'

In [44]:
nest_list[2][0]

'snakes'

In [45]:
# Tuple
c = (1,2,4,5,6,7)

In [46]:
type(c)

tuple

In [47]:
# tuple is immortable which we can not add or remove element

In [48]:
# set

d = {1,2,2,2,4,5,6,7,8,9}

In [49]:
print(d)

{1, 2, 4, 5, 6, 7, 8, 9}

In [50]:
# set does not repeat element

# dictionary

In [51]:
e = {'name':'Adepoju','daily intake': 5, 'favourite calculation': ['author','milk']}

In [52]:
type(e)

dict

In [53]:
print(e)

{'name': 'Adepoju', 'daily intake': 5, 'favourite calculation': ['author', 'milk']}

In [55]:
e.values()

dict_values(['Adepoju', 5, ['author', 'milk']])

In [56]:
e.keys()

dict_keys(['name', 'daily intake', 'favourite calculation'])

In [57]:
e.items()

dict_items([('name', 'Adepoju'), ('daily intake', 5), ('favourite calculation', ['author', 'milk'])])

In [58]:
e['name']

'Adepoju'

In [59]:
e

{'name': 'Adepoju',
 'daily intake': 5,
 'favourite calculation': ['author', 'milk']}

In [61]:
e['name'] = 'Adepoju Ibrahim'

In [62]:
print(e)

{'name': 'Adepoju Ibrahim', 'daily intake': 5, 'favourite calculation': ['author', 'milk']}